.container1{
    margin-left: auto;
    margin-right: auto;
    background-color: blueviolet;
    width: 50%;
    padding: 30px;
border-color: black;
border-style: dashed;
}
.zagolovok{
    margin-left: 10%;
    margin-right: 10%;
    background-color: rgb(14, 250, 6);
border-color: black;
border-style: dashed;
text-align: center;
}
.vstuplenie{
    background-color: rgb(4, 238, 4);
border-color: black;
border-style: dashed;
}
.knopka1{
    margin-left: auto;
    margin-right: auto;
border-color: black;
border-style: dashed; 
background-color: chartreuse;
}
.pidor{
   border-color: black;
text-align: center;
vertical-align: middle;
 margin-left: auto;
    margin-right: auto;
    background-color: blueviolet;
    color: darkred;
    width: 150px;
    font-size: 50px;
}
