.container{
background-color: darkslategray;
display: flex;
flex-direction: column;
justify-content: space-around;
align-items: center;
height: 200px;
width: max-content;

}


.intro_zagolovok{
/* display: block; */
background-color: rgb(14, 250, 6);
border-color: black;
border-style: dashed;
text-align: center;
}

.intro_vstuplenie{
/* display: block */
background-color: rgb(4, 238, 4);
border-color: black;
border-style: dashed;
text-align: center;
}
.intro_button{
/* display: block; */
background-color: rgb(14, 250, 6);
border-color: black;
border-style: dashed;
text-align: center;
}


.knopka1{

border-color: black;
border-style: dashed; 
background-color: chartreuse;
text-align: center;
}



/* появляющаяся надпись */
.pidor{
   border-color: black;
text-align: center;
vertical-align: middle;
 margin-left: auto;
    margin-right: auto;
    background-color: blueviolet;
    color: darkred;
    width: 150px;
    font-size: 50px;
}
